<header class="header-6">
  <div class="branding">
    <a [routerLink]="['/queue-calling/index']" class="nav-link">
      <clr-icon style="color:orange;" shape="qr-code"></clr-icon>
      <span class="title">Q4U</span>
    </a>
  </div>

  <div class="header-nav">
    <a href="javascript://" [routerLink]="'/settings'" class="nav-link nav-text">Settings</a>
  </div>
  <!-- <form class="search">
    <label for="search_input">
      <input id="search_input" type="text" placeholder="Search for keywords...">
    </label>
  </form> -->


  <div class="header-actions">
    <a href="#" (click)="logout()" class="nav-link nav-text">
      Log Out
    </a>
  </div>



</header>
