<h3>ทะเบียนรับยา ({{servicePointName}})</h3>

<div class="card card-block">
  <form #f="ngForm" #registerForm>


    <div class="clr-row">
      <div class="clr-col-2">
        <clr-select-container>
          <label>ห้องตรวจ</label>
          <select [(ngModel)]="servicePointId" (change)="onChangeServicePoint($event)" clrSelect name="servicePointId">
            <option *ngFor="let s of servicePoints" value="{{s.service_point_id}}">{{s.service_point_name}}</option>
          </select>
        </clr-select-container>
      </div>
      <div class="clr-col-4">
        <clr-select-container>
          <label>ประเภทผู้ป่วย</label>
          <select [(ngModel)]="prioritieId" (change)="onChangePriorities($event)" clrSelect name="prioritieId">
            <option *ngFor="let p of priorities" value="{{p.priority_id}}">{{p.priority_name}}</option>
          </select>
        </clr-select-container>
      </div>
      <div class="clr-col-3">
        <clr-input-container>
          <label>ค้นเพื่อลงทะเบียนรับยา</label>
          <div></div>
          <input (keyup)="delaySerch($event)" (keyup.enter)="delaySerch($event)" clrInput placeholder="คำค้น..."
            name="search" [(ngModel)]="search" />
        </clr-input-container>

      </div>
      <div class="clr-col-2">
        <button (click)="reloadData()" class="btn btn-sm">
          <clr-icon shape="refresh"></clr-icon>
          Reload
        </button>
      </div>
    </div>

  </form>

</div>

<br>

<clr-tabs>
  <clr-tab>
    <button clrTabLink>ผู้ป่วยที่มารับบริการทุกห้องตรวจ ({{hisVisits.length}})</button>
    <clr-tab-content *clrIfActive="true">
      <clr-datagrid [clrDgLoading]="loading">

        <clr-dg-placeholder>We couldn't find any patient visit!</clr-dg-placeholder>

        <clr-dg-column [clrDgField]="'hn'" [style.width.px]="100">HN</clr-dg-column>
        <clr-dg-column [clrDgField]="'vn'" [style.width.px]="100">VN</clr-dg-column>
        <clr-dg-column [clrDgField]="'first_name'">ชื่อ-นามสกุล</clr-dg-column>
        <clr-dg-column [clrDgField]="'clinic_name'">ห้องตรวจ</clr-dg-column>
        <clr-dg-column>เวลาที่มารับบริการ</clr-dg-column>
        <clr-dg-column [style.width.px]="240">Action</clr-dg-column>

        <clr-dg-row *clrDgItems="let v of hisVisits" [clrDgItem]="queues">
          <clr-dg-cell> {{v.hn}}</clr-dg-cell>
          <clr-dg-cell> {{v.vn}}</clr-dg-cell>
          <clr-dg-cell><strong>{{v.title}}{{v.first_name}} {{v.last_name}}</strong></clr-dg-cell>
          <clr-dg-cell>{{v.clinic_name}}</clr-dg-cell>
          <clr-dg-cell>{{v.date_serv | date}} {{v.time_serv}}</clr-dg-cell>

          <clr-dg-cell>
            <button (click)="onRegister(v)" class="btn btn-block   btn-outline-success">
              <clr-icon shape="printer"></clr-icon> ลงทะเบียนหมายเลขรับยา
            </button>
          </clr-dg-cell>

        </clr-dg-row>

        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Users per page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
          </clr-dg-pagination>
        </clr-dg-footer>

      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>ทะเบียนที่ออกหมายเลขรับยา ({{queues.length}})</button>
    <clr-tab-content *clrIfActive="false">
      <clr-datagrid [(clrDgSelected)]="selected" [clrDgLoading]="loading">

        <clr-dg-placeholder>We couldn't find any queue!</clr-dg-placeholder>

        <clr-dg-column [clrDgField]="'queue_number'" [style.width.px]="100">ID</clr-dg-column>
        <clr-dg-column [clrDgField]="'hn'" [style.width.px]="100">HN</clr-dg-column>
        <clr-dg-column [clrDgField]="'vn'" [style.width.px]="100">VN</clr-dg-column>
        <clr-dg-column [clrDgField]="'first_name'">Name</clr-dg-column>
        <clr-dg-column>Priority</clr-dg-column>
        <clr-dg-column>Clinic</clr-dg-column>
        <clr-dg-column [style.width.px]="200">Action</clr-dg-column>

        <clr-dg-row *clrDgItems="let q of queues" [clrDgItem]="queues">
          <clr-dg-cell><strong style="font-size: large;">{{q.queue_number}}</strong></clr-dg-cell>
          <clr-dg-cell> {{q.hn}}</clr-dg-cell>
          <clr-dg-cell> {{q.vn}}</clr-dg-cell>
          <clr-dg-cell>{{q.first_name}} {{q.last_name}}</clr-dg-cell>
          <clr-dg-cell>{{q.priority_name}}</clr-dg-cell>
          <clr-dg-cell>{{q.service_point_name}}</clr-dg-cell>
          <clr-dg-cell>
            <div class="btn-group btn-primary">
              <button (click)="printSlip(q.queue_id,q.clinic_name)" class="btn btn-block">
                <clr-icon shape="printer"></clr-icon> พิมพ์ซ้ำ
              </button>

            </div>
          </clr-dg-cell>


        </clr-dg-row>


        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Users per page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
          </clr-dg-pagination>
        </clr-dg-footer>

      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>

  <clr-tab>
    <button clrTabLink>ทะเบียนหมายเลขรับยาที่เข้า Robot ({{autoQueuPharmacy.length}})</button>
    <clr-tab-content *clrIfActive="false">
      <clr-datagrid [clrDgLoading]="autoQueuPharmacyLoading">

        <clr-dg-placeholder>We couldn't find any queue!</clr-dg-placeholder>

        <clr-dg-column [clrDgField]="'queue'" [style.width.px]="100">ID</clr-dg-column>
        <clr-dg-column [clrDgField]="'hn'" [style.width.px]="100">HN</clr-dg-column>
        <clr-dg-column [clrDgField]="'vn'" [style.width.px]="100">VN</clr-dg-column>
        <clr-dg-column [clrDgField]="'name'">ชื่อ-นามสกุล</clr-dg-column>
        <clr-dg-column>เวลาที่รับ</clr-dg-column>
        <clr-dg-column [style.width.px]="200">Action</clr-dg-column>
        <clr-dg-row *clrDgItems="let q of autoQueuPharmacy" [clrDgItem]="queues">
          <clr-dg-cell><strong style="font-size: large;">{{q.queue}}</strong></clr-dg-cell>
          <clr-dg-cell> {{q.hn}}</clr-dg-cell>
          <clr-dg-cell> {{q.vn}}</clr-dg-cell>
          <clr-dg-cell> {{q.name}} {{q.surname}} </clr-dg-cell>
          <clr-dg-cell>{{q.read_datetime | date:'h:mm a z'}}</clr-dg-cell>

          <clr-dg-cell>
            <div class="btn-group btn-primary">
              <button (click)="printSlip(q.queue_id,'')" class="btn btn-block">
                <clr-icon shape="printer"></clr-icon> พิมพ์ซ้ำ
              </button>

            </div>
          </clr-dg-cell>
        </clr-dg-row>


        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Users per page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
          </clr-dg-pagination>
        </clr-dg-footer>

      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>



<clr-modal [(clrModalOpen)]="printConfirmModal">
  <h3 class="modal-title">ยืนยันการลงทะเบียนรับยา!</h3>
  <div class="modal-body">
    <table class="table table-vertical">
      <caption>
        กรุณาตรวจสอบรายละเอียดผู้ป่วยเพื่อยืนยันการลงทะเบียนหมายเลขรับยา
      </caption>
      <tbody>
        <tr>
          <th [style.width.px]="100">HN</th>
          <td>{{selectedPatient.hn}}</td>
        </tr>
        <tr>
          <th>ชื่อ-นามสกุล</th>
          <td>{{selectedPatient.fullname}}</td>
        </tr>
        <tr>
          <th>ห้องตรวจ</th>
          <td>{{selectedPatient.clinic}}</td>
        </tr>
        <tr>
          <th>เวลาที่มารับบริการ</th>
          <td>{{selectedPatient.time}}</td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="printConfirmModal = false">ยกเลิก</button>
    <button type="button" #btnConfirmPrint class="btn btn-primary" (click)="onConfirmPrint()">ยืนยัน</button>
  </div>
</clr-modal>
