.error-logo{
  margin-top: 5em;
  text-align: center;
}
.error-logo>img{
  width: 150px;
}
.error-code{
  font-size: 3rem;
  font-weight: 200;
  line-height: 1em;
  opacity: .5;
  text-align: center;
}

.error-blurb{
  text-align: center;
}
